html {
  font-family: "Fredoka One", sans-serif;
}

body {
  background: repeating-linear-gradient(-150deg, #c9fcff 20px, #d4fdff 30px);
  border: 3px solid #b3fbff;
}

h1 {
  color: #990073;
  position: absolute;
  transform: rotate(-10deg);
  top: 80px;
  left: 45px;
  animation: text-blur 1s linear forwards;
  opacity: 0;
  filter: blur(7px);
}

p {
  color: #c09;
  position: absolute;
  transform: rotate(-5deg);
  top: 175px;
  left: 55px;
  max-width: 19em;
  animation: text-blur 1s linear forwards;
  opacity: 0;
  filter: blur(7px);
}

header {
  position: relative;
}

.btn {
  color: #c09;
  border-color: #990073;
  position: absolute;
  top: 320px;
  left: 57px;
  animation: text-blur 1s linear forwards;
  opacity: 0;
  filter: blur(7px);
}

.cone {
  position: absolute;
  top: 265px;
  right: 30px;
  z-index: 1000;
  transform: scale(.7);
}

.mint-chip {
  position: absolute;
  top: 160px;
  right: 30px;
  transform: scale(.7);
}

.chocolate-chip {
  position: absolute;
  top: 76px;
  right: 25px;
  transform: scale(.7);
}

.vanilla-fudge {
  position: absolute;
  top: 4px;
  right: 35px;
  transform: scale(.7);
}

.cherry {
  position: absolute;
  top: -75px;
  right: 30px;
  transform: scale(.7);
}

@keyframes text-blur {

  to {
    opacity: 1;
    filter: blur(0);
  }

}
