html {
  font-family: "Fredoka One", sans-serif;
}

body {
  background: repeating-linear-gradient(-150deg, #c9fcff 20px, #d4fdff 30px);
  border: 3px solid #b3fbff;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
  text-shadow: 2px 2px 8px #c4c4c4;
  transform-origin: left center;
  animation: text-blur 1s 1s linear forwards;
  opacity: 0;
  filter: blur(7px);
}

p {
  color: #c09;
  transform: rotate(-5deg);
  text-shadow: 2px 2px 8px #c4c4c4;
  max-width: 19em;
  transform-origin: left center;
  animation: text-blur 1s 1s linear forwards;
  opacity: 0;
  filter: blur(7px);
}

header {
  position: relative;
}

.btn {
  color: #c09;
  border-color: #990073;
  text-shadow: 2px 2px 8px #c4c4c4;
  animation: text-blur 1s 1s linear forwards;
  opacity: 0;
  filter: blur(7px);
}

.cone {
  position: absolute;
  top: -300px;
  right: 30px;
  z-index: 1000;
  animation: ice-cream 1s linear forwards;
  transform: scale(.7);
}

.mint-chip {
  position: absolute;
  top: 160px;
  right: 30px;
  transform: scale(.7);
}

.chocolate-chip {
  position: absolute;
  top: 76px;
  right: 25px;
  transform: scale(.7);
}

.vanilla-fudge {
  position: absolute;
  top: 4px;
  right: 35px;
  transform: scale(.7);
}

.cherry {
  position: absolute;
  top: -75px;
  right: 30px;
  transform: scale(.7);
}

@keyframes text-blur {

  to {
    opacity: 1;
    filter: blur(0);
  }

}

 @keyframes ice-cream {

  start {
    transform: translateY(-300px);
  }

  end {
    transform: translateY(265px);
  }

}
